<!DOCTYPE html>
<html>
<body>
    <h1>register here!!!!!!!!</h1>
	<form method="POST">
        <input type="text" name="username" placeholder="User ID"><br>
        <input type="text" name="nickname" placeholder="Nickname"><br>
        <input type="text" name="avatar" placeholder="Avatar"><br>
        <input type="text" name="email" placeholder="Email Address"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>