<!DOCTYPE html>
<html lang="en" class="os-mac">
<head>
	<meta charset="utf-8">
	<title>{{.Title}} - slaj</title>
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="content-script-type" content="text/javascript">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-title" content="Slajs">
	<meta name="description" content="slaj is some gay soical network made by pf2m jod einegeticbark">
	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="Community List">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://slaj/">
	<meta property="og:image" content="https://slaj/assets/img/favicon.png">
	<meta property="og:description" content="slaj is some gay soical network made by pf2m jod einegeticbark">
	<meta property="og:site_name" content="slaj">
	<meta property="article:published_time" content="None">
	<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/offdevice.css">
	<!-- <script src="/s/jslibs.js"></script>
	<script src="/s/slaj.js"></script>-->
</head>

<body class="">
	<div id="wrapper" class="
	{{if .IsGuest}}
		guest
	{{end}}">
	<div id="sub-body">
		<menu id="global-menu">
			<li id="global-menu-logo"><h1><a href="/"><img src="/assets/img/menu-logo.png" alt="slaj"></a></h1></li>
			{{if .IsGuest}}
				<li id="global-menu-login">
					<a href="/login/" class="login">
						<input type="image" alt="Sign in" src="/s/img/sign-in.png">
					</a>
				</li>
			{{else}}
				<li id="global-menu-list">
					<ul>
						<li id="global-menu-mymenu">
							<a href="/users/{{.Username}}">
								<span class="icon-container">
									<img src="{{.User.Avatar}}" alt="User Page">
								</span>
								<span>User Page</span>
							</a>
						</li>
						<li id="global-menu-feed"><a href="/activity" class="symbol"><span>Activity Feed</span></a></li>
						<li id="global-menu-community" class="selected"><a href="/" class="symbol"><span>Communities</span></a></li>
						<li id="global-menu-message"><a href="/messages" class="symbol"><span>Messages</span><span class="badge" style="display: none;">0</span></a></li>
						<li id="global-menu-news"><a href="/notifications" class="symbol"><span class="badge" style="display: none;">0</span></a></li>
						<li id="global-menu-my-menu"><button class="symbol js-open-global-my-menu open-global-my-menu"></button>
							<menu id="global-my-menu" class="invisible none">
								<li><a href="/settings/profile" class="symbol my-menu-profile-setting"><span>Profile settings</span></a></li>
								<li><a href="#" class="symbol my-menu-account-setting"><span>Account preferences</span></a></li>
								<li><a href="/communities/announcements" class="symbol my-menu-openman"><span>slag Announcements</span></a></li>
								<li><a href="/communities/changelog" class="symbol my-menu-openman"><span>slag Changelog</span></a></li>
								<li><a href="/help/contact" class="symbol my-menu-guide"><span>Contact info</span></a></li>
								<li><a href="/help/rules" class="symbol my-menu-guide"><span>slag Rules</span></a></li>
								<li><a href="/server" class="symbol my-menu-openman"><span>Server Statistics</span></a></li>
								<li><a href="/my_blacklist" class="symbol my-menu-opee"><span>My block list</span></a></li>
								<li>
									<form action="/logout/" method="post" id="my-menu-logout" class="symbol">
										<input type="hidden" name="csrfmiddlewaretoken" value="">
										<input type="submit" value="Log out">
									</form>
								</li>
							</menu>
						</li>
					</ul>
				</li>
			{{end}}
		</menu>
	</div>